/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
  --accent-color: #a876aa;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

nav {
  background-color: #fff;
  padding: 20px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  transition: width 0.5s ease;
}

nav.active {
  width: 410px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 0;
  overflow: hidden;
  transition: width 1s ease;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  transform: scale(0);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

nav.active ul li {
  opacity: 1;
  transform: scale(1);
}

nav ul a {
  position: relative;
  color: #000;
  text-decoration: none;
  margin: 0 10px;
  height: 30px;
  text-transform: uppercase;
}

nav ul a:hover {
  color: var(--accent-color);
  font-weight: 500;
}

.icon {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon:focus {
  outline: 0;
}

.icon .line {
  background-color: var(--accent-color);
  height: 2px;
  width: 20px;
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 5px;
  transform-origin: center;
  transition: transform 1s ease;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-45deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(45deg) translateY(-5.5px);
}

@media screen and (max-width: 480px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    height: 0;
    transition: all 0.5s ease;
  }

  nav ul li {
    line-height: 2rem;
  }

  nav.active {
    width: 250px;
  }

  nav.active ul {
    height: 150px;
  }
}