/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: rgb(31, 38, 73);
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.bg {
  background: url("https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg")
    no-repeat center center/cover;
  position: absolute;
  top: -40px;
  left: -40px;
  width: calc(100vw + 80px);
  height: calc(100vh + 80px);
  z-index: -1;
}

.loading-text {
  border-bottom: 2px solid white;
  width: 200px;
  text-align: center;
  font-size: 10vw;
  color: #fff;
}
