/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary-color: #181625;
  --accent-color: rgb(168, 118, 170);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  color: var(--accent-color);
  font-size: 24px;
}

button {
  position: relative;
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 100px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 20px 35px;
  overflow: hidden;
  margin: 10px 0px;
  transition: 0.2s ease;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  scale: 1.05;
}

button .circle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scale .5s ease-out;
}

button.filled .circle {
  background-color: #fff;
}

button.empty .circle {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 3px solid #fff;
}

button.rainbow .circle {
  background: radial-gradient(circle, rgba(255, 85, 85, 1) 0%, rgba(255, 175, 100, 1) 16%, rgba(255, 239, 126, 1) 32%, rgba(152, 255, 134, 1) 50%, rgba(123, 225, 255, 1) 66%, rgba(108, 100, 255, 1) 82%, rgba(233, 62, 255, 1) 100%);
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}