/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --accent-color: #a876aa;
  --background-color: #eeeeee;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  color: #333;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.picture-panel {
  background: url("https://images.unsplash.com/photo-1637611331620-51149c7ceb94?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.form-panel {
  padding: 10vh 5vw;
}

.form-panel h1 {
  text-align: center;
  margin-bottom: 30px;
}

.form-panel a {
  text-decoration: none;
  color: var(--accent-color);
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: var(--accent-color);
  color: #fff;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: none;
}

.btn:focus {
  outline: none;
}

.text {
  margin-top: 30px;
}

.btn:active {
  transform: scale(0.98);
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 100%;
}

.form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: none;
  border-bottom-color: var(--accent-color);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: var(--accent-color);
  transform: translateY(-30px);
}

@media screen and (max-width: 750px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 3fr;
    width: 90vw;
  }

  .form-panel {
    order: 2;
    padding: 10px 20px 20px;
  }
}