/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

:root {
  --background-color: #eeeeee;
  --accent-color: #b036e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background-color);
}

.scroll-down {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scroll-icon {
  width: 60px;
  height: 90px;
  border: 1px solid var(--accent-color);
  border-radius: 40px;
}

.scroll-icon::before {
  content: "";
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 8px;
  height: 16px;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
  animation: wheel 1.5s ease-in-out infinite;
}

@keyframes wheel {
  0% {
    opacity: 0;
  }

  20%,
  70% {
    opacity: 1;
  }

  90%,
  100% {
    transform: translate(0, 80%);
    opacity: 0;
  }
}

h3 {
  color: var(--accent-color);
  font-size: 1.5em;
  font-weight: 300;
  margin: 20px 10px;
}

.welcome-slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--accent-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(0px at center center);
}

.text {
  position: fixed;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 1;
  font-size: 10vw;
  color: transparent;
  -webkit-text-stroke: 1px var(--accent-color);
  text-align: center;
  width: 100%;
}

.text.inner-text {
  color: #fff;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200vh;
  margin-bottom: 5vh;
  background: var(--accent-color);
  overflow: hidden;
  z-index: 2;
}

.article {
  color: #fff;
  max-width: 600px;
  margin: 1rem;
}

.article h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 2.5rem;
}

.article p {
  line-height: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
}

.slide {
  transform: translateX(400%);
  transition: transform 0.5s ease;
}

.slide:nth-of-type(even) {
  transform: translateX(-400%);
}

.slide.in {
  transform: translateX(0);
}

.back-to-top {
  height: 60px;
  width: 60px;
  padding: 20px;
  margin: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
}

.back-to-top i {
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--background-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}