@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --accent-color: #c7b0c3;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.quiz-container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 650px;
  padding: 4rem;
}

.loading-bar {
  width: 100%;
  height: 5px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.loading-bar-progress {
  background-color: var(--accent-color);
  height: 100%;
  width: 0;
  transition: 0.3s ease;
}

h2 {
  font-size: 22px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li input {
  display: none;
}

ul li label {
  cursor: pointer;
  display: block;
  color: #666;
  width: 100%;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: .1s ease;
}

ul li input:hover+label {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

ul li input:checked+label {
  outline: 2px solid var(--accent-color);
  color: var(--accent-color);
}

button {
  color: var(--accent-color);
  background-color: transparent;
  font-family: inherit;
  border: none;
  display: block;
  cursor: pointer;
  margin: auto;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1rem;
  transition: .1s ease;
}

button:hover {
  transform: translateY(-3px);
}


button:active {
  transform: translateY(2px);
}